ul{
    
    list-style-type: none;
    color: black;
    background-color: antiquewhite;
    margin: 0 10%;
    
}
body{
    background-color: ;
}
a{
    text-decoration: none;
    color: black;
    background-color: ;
}
li{
    display: inline-block;
    padding: 15Px;
    
}

#men-section{
    margin: 3% 10%;
    background: url() no-repeat;
}
.col-item{
    width: 27%;
    height: 200px;
    background-color: ;
    display: inline-block;
    text-align: center;
    margin-left: 50PX;
}
img{
    width: 80%;
}
.B{
    padding-left: 0;
    color: red;
    text-transform: uppercase;
    text-align: ;
}
#women-section{
    margin: 3% 10%;
    background: url('../img/big1.jpg.jpg') no-repeat 0 -400px;
    color: white;

}
#AB{
    margin: 3% 10%;
    background: url('../img/big1.png')no-repeat 0 -400px;
}
.nna{
    width: 27%;
    height: 200px;
    color: white;
    display: inline-block;
    padding: 0 20px;
    

}
.collins{
    text-align: center;
    color: red;
}
footer{
    margin: 3% 40%;
    text-align: center;
    background-color: black;
    color: white;
    
    
}
button{
    padding: 5PX 10PX;
    margin-right: 20PX;
    border-radius: 10PX;
}
.cart{
    background-color: orange;
}
.buy{
    background-color: skyblue;
}
.item-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
    
    
}
.cap{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.top{
    width: 25%;
    float: right;
    margin-left: 30px;

}
#description{
    padding: 1% 0%;
    margin: 3% 0%;
    background-color: antiquewhite;
    
}
#bottom-section{
    padding: 10%;
    text-align: center;
    margin: 3% 10%;
    
    
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
     font-family: 'Montserrat', sans-serif;;
}